/* ------------------------------------------------------------------------------
*
*  # Steps wizard
*
*  An all-in-one wizard plugin that is extremely flexible, compact and feature-rich
*
*  Version: 1.2
*  Latest update: Aug 10, 2016
*
* ---------------------------------------------------------------------------- */

.wizard {
  width: 100%;
}
.wizard > .steps .current-info,
.wizard > .content > .title {
  position: absolute;
  left: -99999px;
}
.wizard > .content {
  position: relative;
  width: auto;
  padding: 0;
}
.wizard > .content > .body {
  padding: 0 40px;
}
.wizard > .content > iframe {
  border: 0 none;
  width: 100%;
  height: 100%;
}
.wizard > .steps {
  position: relative;
  display: block;
  width: 100%;
        overflow: hidden;
}
.wizard > .steps > ul {
  display: table;
  width: 100%;
  table-layout: fixed;
  margin: 0;
  padding: 0;
  list-style: none;
}
.wizard > .steps > ul > li {
  display: table-cell;
  width: auto;
  vertical-align: top;
  text-align: center;
  position: relative;
}
.wizard > .steps > ul > li a {
  position: relative;
  padding-top: 48px;
  margin-top: 40px;
  margin-bottom: 40px;
  display: block;
    
    font-weight: bold;
}
.wizard > .steps > ul > li:before,
.wizard > .steps > ul > li:after {
  content: '';
  display: block;
  position: absolute;
  top: 58px;
  width: 50%;
  height: 2px;
  background-color: #ff5e00;
  z-index: 9;
}
.wizard > .steps > ul > li:before {
  right: 0;
}
.wizard > .steps > ul > li:after {
  left: 0;
}
.wizard > .steps > ul > li:first-child:before,
.wizard > .steps > ul > li:last-child:after {
  content: none;
}
.wizard > .steps > ul > li.current:after,
.wizard > .steps > ul > li.current ~ li:before,
.wizard > .steps > ul > li.current ~ li:after {
  background-color: #c8c9ca;
}
.wizard > .steps > ul > li.current > a {
  color: #ff5e00;
  cursor: default;
}
.wizard > .steps > ul > li.current .number {
border-color: #ff5e00;
    background-color: #ff5e00;
    color: #fff;
}

.wizard > .steps > ul > li.disabled a,
.wizard > .steps > ul > li.disabled a:hover,
.wizard > .steps > ul > li.disabled a:focus {
  color: #A5AEB7;
  cursor: default;
}
.wizard > .steps > ul > li.done a,
.wizard > .steps > ul > li.done a:hover,
.wizard > .steps > ul > li.done a:focus {
  color: #ff5e00;
}
.wizard > .steps > ul > li.done .number {
  font-size: 0;
  background-color: #ff5e00;
  border-color: #ff5e00;
  color: #fff;
}
.wizard > .steps > ul > li.done .number:after {
  content: '\f058';
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  font-size: 16px;
  line-height: 34px;
    display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.wizard > .steps > ul > li.error .number {
  border-color: #ff5e00;
  color: #fff;
}

.wizard > .steps .number {
    color: #fff;
    background-color: #8f9396;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -19px;
    width: 38px;
    height: 38px;
    border: 2px solid #eeeeee;
    font-size: 18px;
    border-radius: 50%;
    z-index: 10;
    line-height: 35px;
    text-align: center;
    font-weight: bold;
}
.panel-flat > .wizard > .steps > ul {
  border-top: 1px solid #ddd;
}
.wizard > .actions {
  position: relative;
  display: block;
  text-align: right;
  padding: 40px;
  padding-top: 20px;
}
.wizard > .actions > ul {
list-style: none;
    padding: 0;
    margin: 0 auto;
    display: table;
}
.wizard > .actions > ul:after {
  content: '';
  display: table;
  clear: both;
}
.wizard > .actions > ul > li {
  float: right;
}
.wizard > .actions > ul > li + li {
  margin-right: 10px;
}
.wizard > .actions > ul > li > a {
    background: #ff5e00;
    color: #fff;
    display: block;
    padding: 8px 30px;
    border-radius: 35px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    border: 2px solid #ff5e00;
}
.wizard > .actions > ul > li > a:hover,
.wizard > .actions > ul > li > a:focus {
}
.wizard > .actions > ul > li > a:active {
}
.wizard > .actions > ul > li > a[href="#previous"] {
  background-color: #fff;
  color: #4A4A49;
  border: 2px solid #EDEDED;
}
.wizard > .actions > ul > li > a[href="#previous"]:hover,
.wizard > .actions > ul > li > a[href="#previous"]:focus {

}
.wizard > .actions > ul > li > a[href="#previous"]:active {

}
.wizard > .actions > ul > li.disabled > a,
.wizard > .actions > ul > li.disabled > a:hover,
.wizard > .actions > ul > li.disabled > a:focus {
  background-color: #fff;
  color: #4A4A49;
  border: 2px solid #EDEDED;
}
.wizard > .actions > ul > li.disabled > a[href="#previous"],
.wizard > .actions > ul > li.disabled > a[href="#previous"]:hover,
.wizard > .actions > ul > li.disabled > a[href="#previous"]:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
label{
  display:block;
    text-align: right;
        margin: 0 0 15px 0;
}
label.error{
  color:#ff5e00;
}
/**************************************** Modify ************************************************/
.h3-after {
    font-family: 'Cairo-Bold', sans-serif;
}
/************ Step 1 *********************/
.rad1{
    display: inline-block;
    margin: 0 10px 0 0;
}
.company-radio img {
    width: 50px;
    height: 40px;
    object-fit: cover;
    background-color: #d0cccc;
    border: 2px solid transparent;
    border-radius: 6px;
    -webkit-box-shadow: 0px 8px 11px 0px rgb(234, 230, 230);
    -moz-box-shadow: 0px 8px 11px 0px rgb(234, 230, 230);
    box-shadow: 0px 8px 11px 0px rgb(234, 230, 230);
}
.rad1 p {
    display: inline-block;
    font-weight: 100;
    padding: 0 5px 0 0;
    margin: 0;
    cursor: pointer;
}
.company-radio input[type=radio] {
opacity: 0;
    margin: 0;
}

.company-radio img:hover {
  opacity:0.6;
  cursor: pointer;
}

.company-radio img:active {
  opacity:0.4;
  cursor: pointer;
}

.company-radio input[type=radio]:checked ~ .lbl1 > img {
      border: 2px solid #ff5e00;
}
.company-radio input[type=radio]:checked ~ .lbl1 > p {
      color: #ff5e00;
}
/***************************** SELECT 2 **********************************************/

.select2.select2-container {
    width: 100% !important;
    text-align: right;
    -webkit-box-shadow: 0px 8px 11px 0px rgb(234, 230, 230);
    -moz-box-shadow: 0px 8px 11px 0px rgb(234, 230, 230);
    box-shadow: 0px 8px 11px 0px rgb(234, 230, 230);
    height: 40px;
    border-radius: 6px;
}

.select2.select2-container .select2-selection {
  border: 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  height: 34px;
  margin-bottom: 15px;
  outline: none;
  transition: all 0.15s ease-in-out;
}
.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border: 0;
}
.select2.select2-container .select2-selection .select2-selection__rendered {
  color: #333;
  line-height: 32px;
  padding-left: 33px;
    padding-right: 10px;
}

.select2.select2-container .select2-selection .select2-selection__arrow {
    -webkit-border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    border-radius: 6px 0 6px 0;
    height: 32px;
    width: 33px;
}
.select2.select2-container{
      border: 1px solid transparent;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #313131 transparent transparent transparent;
    border-width: 6px 6px 0 6px;
}
.select2.select2-container.select2-container--open .select2-selection.select2-selection--single {
  background: #f8f8f8;
}
.select2.select2-container.select2-container--open .select2-selection.select2-selection--single .select2-selection__arrow {
  -webkit-border-radius: 0 6px 0 0;
  -moz-border-radius: 0 6px 0 0;
  border-radius: 0 6px 0 0;
}

.select2.select2-container.select2-container--focus .select2-selection , .wizards .form-control{
      border: 0;
    border-radius: 6px !important;
    -webkit-box-shadow: 0px 8px 11px 0px rgb(234, 230, 230) !important;
    -moz-box-shadow: 0px 8px 11px 0px rgb(234, 230, 230) !important;
    box-shadow: 0px 8px 11px 0px rgb(234, 230, 230) !important;
    background-color: transparent;
}

.select2-container--open{
    border: 1px solid #ff5e00 !important;
}
.select2.select2-container .select2-selection--multiple {
  height: auto;
  min-height: 34px;
}

.select2.select2-container .select2-selection--multiple .select2-search--inline .select2-search__field {
  margin-top: 0;
  height: 32px;
}

.select2.select2-container .select2-selection--multiple .select2-selection__rendered {
  display: block;
  padding: 0 4px;
  line-height: 29px;
}

.select2.select2-container .select2-selection--multiple .select2-selection__choice {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 4px 4px 0 0;
  padding: 0 6px 0 22px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  position: relative;
}

.select2.select2-container .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  margin: 0;
  text-align: center;
  color: #e74c3c;
  font-weight: bold;
  font-size: 16px;
}

.select2-container .select2-dropdown {
  background: transparent;
  border: none;
  margin-top: -5px;
        text-align: right;
}

.select2-container .select2-dropdown .select2-search {
  padding: 0;
}

.select2-container .select2-dropdown .select2-search input {
  outline: none;
  border: 1px solid #34495e;
  border-bottom: none;
  padding: 4px 6px;
}

.select2-container .select2-dropdown .select2-results {
  padding: 0;
}

.select2-container .select2-dropdown .select2-results ul {
  background: #fff;
  border: 1px solid #ff5e00;
}
.select2-container .select2-dropdown .select2-results ul li{
    display: block;
}
.select2-container .select2-dropdown .select2-results ul .select2-results__option--highlighted[aria-selected] {
  background-color: #ff5e00;
}

.big-drop {
  width: 600px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 1px;
    left: 1px;
    right: auto;
    width: 20px;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #1d1c1c transparent;
    border-width: 0 5px 6px 5px;
}

span.selection {
position: absolute !important;
    width: 98% !important;
    height: 100% !important;
    right: 0 !important;
    left: 0 !important;
    margin: 0 auto !important;
}
.select2-container{
    display: block !important;
    direction: rtl !important;
}
.custom-gp{
    position: relative;
}
/********************** Image ***************************************/

.images-upload-block a {
    display: block;
    width: 100%;
    height: 100%;
}
.upload-img {
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 50px;
    text-align: center;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    border-radius: 6px !important;
    -webkit-box-shadow: 0px 8px 11px 0px rgb(234, 230, 230) !important;
    -moz-box-shadow: 0px 8px 11px 0px rgb(234, 230, 230) !important;
    box-shadow: 0px 8px 11px 0px rgb(234, 230, 230) !important;
    transition:all .3s ease-in-out;
}
.upload-img:hover{
    background-color: #ff5e00;
}
.upload-img:hover b{
    color: #fff;
}
.upload-img span , .upload-img b{
    position: absolute;
    margin: auto;
    z-index: 9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-size: 22px;
    color: #e4e4e4;
    cursor: pointer;
    transition:all .3s ease-in-out;
}
.upload-img span i {
    color: #e4e4e4
}
.upload-img b {
    font-size: 20px;
    color: #212121;
}
.upload-img input {
    position: absolute;
    opacity: 0;
    z-index: -1;
    display: none
}

.profile-pic .images-upload-block {
    position: relative;
    width: 50px;
    height: 50px;
    z-index: 9;
        display: inline-block;
}
.photo{
        margin: 13px 0 0 0;
    
}
.profile-pic .images-upload-block img {
    width: 100%;
    height: 100%;
    margin: 0;
    object-fit: cover;
        border-radius: 6px;
}
.uploaded-block {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 80px;
    height: 80px;
    z-index: 9;
    border-radius: 6px;
    display: inline-block;
    background-color: #fff;
    text-align: center;
}
div#appended-pic {
    width: 80px;
    height: 80px;
    top: -23px;
    right: 0;
    left: 0;
    margin: -20px auto 0 auto;
}
.images-upload-block .close {
    top: -16px;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    background-color: #ff5e00;
    z-index: 9999;
    opacity: 1;
    color: #fff;
    box-shadow: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 10px;
    padding: 0;
    font-size: 14px;
    text-align: center;
}
/***** Toggle ***/
.to-tgle{
    color: #fe5e00;
}
.to-tgle:hover , .to-tgle:focus{
    color: #212121;
}
.tgle {
    display: block;
    width: 100%;
}

/********************************************************************************************************************************************************** STEP 2 **************************************************************************************************************************/
.model1{
    display: inline-block;
    margin: 0 0 0 10px;
    background-color: #fe5e00;
    color: #fff;
    padding: 3px 5px;
    font-family: 'Cairo-SemiBold', sans-serif;
    border-radius: 3px;
    font-size: 15px;
}
.model1:last-child{
    margin: 0;
}
.dtls{
    display:inline-block;
    font-size: 15px;
    margin: 0;
}
.replace{
    display:inline-block;
    color: #fe5e00;
    text-decoration: underline;
    margin: 0 10px 0 0;
}

.btn-piece{
    background-color: #ff5e00;
    border-radius: 25px;
    padding: 5px 12px;
    font-size: 16px;
    margin: 0 0 0 10px;
    -webkit-box-shadow: 0px 8px 11px 0px rgb(222, 203, 193);
    -moz-box-shadow: 0px 8px 11px 0px rgb(222, 203, 193);
    box-shadow: 0px 8px 11px 0px rgb(222, 203, 193);
}
.btn-piece svg{
    margin: 0 4px 0 0;
    vertical-align: middle;
}
.btn-piece:hover , .btn-piece:focus{
    opacity: .8;
}
/******* Search Modal********/
.modalIn .h3-after{
    float: right;
}
.modalIn .modal-header {
    border-bottom: none;
}

.modalIn .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 99;
    position: relative;
    overflow: auto;
}

.modalIn {
    background-color: #fff;
    z-index: 9999999;
}

.modalIn .modal-backdrop {
    opacity: 1 !important;
    border: 10px solid rgba(136, 136, 136, .4);
    position: relative;
}

.modalIn .modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
    background: none;
    box-shadow: none;
    border: 0;
}

.modalIn .modal-body {
    width: 100%;
    text-align: center;
    text-align: right;
}

.modalIn .modal-content .close {
    opacity: 1;
    font-size: 23px;
    color: #fff !important;
    box-shadow: none;
    text-shadow: none;
    float: left;
    background-color: #333;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 20px;
    padding: 0;
    text-align: center;
}

.modalIn .modal-content .close:hover,
.modalIn .modal-content .close:focus {
    background-color: #ff5e00;
}
.modalIn .modal-content .close span {
    margin: -3px -1.5px 0 0;
    display: block;
}
.modalIn .navbar-default .navbar-collapse,
.modalIn .navbar-default .navbar-form {
    border: none;
}
.navbar-form .form-group {
    display: block;
}
.modalIn .navbar-form {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    box-shadow: none;
}

.modalIn .modal-body form button,
.modalIn .modal-body form button:hover,
.modalIn .modal-body form button:focus,
.modalIn .modal-body .btn-default:active.focus {
    border: none !important;
    background-color: transparent !important;
    box-shadow: none !important;
    outline: 0 !important;
}

.select2-container{
    z-index: 9999999;
}

.filtrtion{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 55px 0 15px 0;
}
.filtrtion .item1{
    width: 200px;
    margin: 0 0 20px 15px;
}
.item1 .sgsting{
    height: 100%;
}
.item1 a{
    color: #212121;
    display: block;
    width: 100%;
    height: 100%;
}
.filtrtion .item1:hover a, .filtrtion .item1:focus a{
    color: #ff5e00;
}
.filtrtion .item1 img{

}
.filtrtion .item1 h4{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    width: 97%;
    margin: 12px 0 0 0;
    font-size: 16px;
}

/************************************* details Modal *********************************/
.dtls-piece{
    position: relative;
    padding: 0 0 40px 0;
}
.fxd-btn{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    height: 40px;
    background-color: #ff5e00;
    color: #fff;
    font-weight: bold;
    border-top: 1px solid #ff5e00;
}
/*
.fxd-btn.enabled{
    background-color: #ddd;
    color: #212121;
    border-color: #a99494;
    cursor: not-allowed;
}
*/
.fxd-btn:hover , .fxd-btn:focus{
    opacity: .8;
}
.piece1{
    display: block;
    width: 100%;
    height: 300px;
    border: 1px solid #ddd;
    padding: 4px;
}
.piece1 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.all-dtls{
    list-style: none;
    counter-reset: my-awesome-counter;
    height: calc(100vh - 350px);
    overflow-y: scroll;
    padding: 12px 0 0 5px;
}
#details .all-dtls {
    height: calc(100vh - 168px);
}
.all-dtls > li{
    padding: 0 8px 0 0;
    margin: 0 0 6px 0;
    counter-increment: my-awesome-counter;
    width: 100%;
    position: relative;
}
.all-dtls > li:before {
/*    content: counter(my-awesome-counter) ". ";*/
    content: counter(my-awesome-counter);
    background-color: #ff8d00;
    font-weight: bold;
    color: #fff;
    width: 30px;
    display: inline-block;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 1px;
    vertical-align: middle;
}

.inDetails{
    display: flex;
    justify-content: space-between;
    width: 60%;
    font-weight: bold;
    margin: 0 auto;
}
#details .inDetails {
    width: 50%;
}
.inDetails li {
    margin: 0 0 15px 0;
}
.piece-sm{
    width: 70px;
    max-height: 70px;
    display: inline-block;
}
.piece-sm img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.name-p{
    color: #ff5e00;
    vertical-align: middle;
}

/******* Custom Checkmark *****************/

.new-p{
    text-align: right;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    margin: 0;
    padding: 0;
        cursor: pointer;
        padding: 0 37px 0 0;
}

.new-p input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.new-p .checkmark {
position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 0 auto;
    background-color: #eee;
    color: #212121;
}
.new-p:hover input ~ .checkmark {
  background-color: #ccc;
}
.new-p input:checked ~ .checkmark {
      background-color: #ff8700;
    color: #fff;
}
.new-p .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.new-p input ~ .checkmark:after{
    content: '\f067';
    font-family: "Font Awesome 5 Free";
    font-size: 16px;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    width: 100%;
    height: 100%;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
}
.new-p input:checked ~ .checkmark:after {
    content: '\f00c';
}
li.addme {
    position: absolute;
    left: 0;
    top: -5px;
}
/*** Start Quantity ***/
.quant .value-button {
    display: inline-block;
    width: 25px;
    font-size: 17px;
    color: #fd9f69;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.quant .value-button:hover,
.quant .value-button:focus ,
.quant input#number:hover ,
.quant input#number:focus {
    color: #ff8300;
}

.quant input#number{
    text-align: center;
    border: none;
    margin: 0px;
    width: calc(100% - 62px);
    height: 100%;
    line-height: 100%;
    color: #fd9f69;
    font-size: 18px;
    background-color: transparent;
    font-weight: bold;
}

.count {
    margin: 0px;
    width: 150px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #fd9f69;
    border-radius: 5px;
    display: inline-block;
}

.quant input[type=number]::-webkit-inner-spin-button,
.quant input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/********************************* name-piece Modal *********************************************/
#name-piece .all-dtls li {
    padding: 0 8px 0 0;
}
#name-piece .all-dtls > li:before{
    display: none
}
#name-piece .inDetails {
    width: 50%;
    margin: 0;
    position: relative;
}
.form-group {
    margin-bottom: 25px !important;
}
.searchh .form-control {
    border: none;
    background-color: #fff;
        border-radius: 6px !important;
    -webkit-box-shadow: 0px 8px 11px 0px rgb(234, 230, 230) !important;
    -moz-box-shadow: 0px 8px 11px 0px rgb(234, 230, 230) !important;
    box-shadow: 0px 8px 11px 0px rgb(234, 230, 230) !important;
}
.modalIn .modal-body form .searchh button {
    height: 30px;
    background-color: #b7ada2 !important;
    width: 30px;
    line-height: 27px;
    text-align: center;
    color: #fff;
    display: inline-block;
    position: absolute;
    left: 10px;
    border-radius: 50%;
    top: calc(50% - 15px);
    margin: 0;
    padding: 0;
}
.modalIn .modal-body form .searchh button:hover , .modalIn .modal-body form .searchh button:focus{
    background-color: #ff5e00 !important;
}
#name-piece .new-p .checkmark {
    left: auto;
    right: 0;
    width: 25px;
    height: 25px;
    line-height: 25px;
    top: 0;
}
#name-piece .new-p {
     width: auto; 
     height: auto; 
     text-align: right; 
     line-height: auto; 
    vertical-align: middle;
    padding: 0 40px 0 0;
}
/******************************************************************************************************************************************* Step 3 *****************************************************************************************/
.products{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}
.prod1{
    width: 199px;
    padding: 20px 5px;
    height: 140px;
    border: 1px solid #ddd;
    border-radius: 6px;
    display: inline-block;
    margin: 0 5px 25px 5px;
    position: relative;
    text-align: center;
}
.prod1 .close{
        position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -14px;
    background-color: #ff5e00;
    opacity: 1;
    border-radius: 50%;
    color: #fff;
    width: 25px;
    height: 25px;
    line-height: 22px;
}
.prod1 .close:hover , .prod1 .close:focus{
    opacity: .6;
}
.prod1 .close svg{
    font-size: 15px;
}
.prod1 h4 {
    height: 39px;
    overflow: hidden;
}
.prod1 .qnt{
    background-color: #ff5e00;
    font-family: 'Cairo-Bold', sans-serif;
    color: #fff;
    border-radius: 6px;
    display: block;
    width: 60px;
    height: 40px;
    line-height: 39px;
    word-break: break-all;
    margin: 15px auto 0 auto;
}
/************* Distributers ****************/
.distributers .radio-list{
    text-align: right;
    margin: 0 0 15px 0;
}
.distributers b{
    font-size: 15px;
    display: block;
    margin: 0 0 15px 0;
}
.distributers b span{
    margin: 0 8px 0 0;
    font-weight: 100;
}
.dist-list .rad{
    margin: 0 0 8px 0 !important;
    display: block;
    padding: 0 30px 0 0;
    width: max-content;
}
.dist-list .rad .checkmark {
    top: 15px;
}
.dist-list .checking{
    border: 1px solid #b3aaaa;
    width: max-content;
    border-radius: 6px;
    padding: 2px 10px;
    font-weight: 100;
    display: inline-block;
}
.dist-list .check-img{
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 6px;
    overflow: hidden;
    -webkit-box-shadow: 0px 8px 11px 0px rgb(234, 230, 230) !important;
    -moz-box-shadow: 0px 8px 11px 0px rgb(234, 230, 230) !important;
    box-shadow: 0px 8px 11px 0px rgb(234, 230, 230) !important;
    margin: 0 20px 0 0;
    border: 1px solid transparent;
}
.dist-list img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.dist-list .rad b{
    display: inline-block;
    margin: 0 60px 0 0;
}
.rad input:checked ~ .check-img{
    border-color: #fe5e00;
}


/****************************************** NOT AVALAIBLE Modal *************************************/
#not-avl{
    text-align: center;
}
#not-avl .modal-content {
    padding: 7px 7px 25px 7px;
}
#not-avl .modal-header {
    border-bottom: 0;
}
#not-avl .choosing{
    
}
#not-avl .choosing p{
    margin: 15px auto 35px auto;
    font-size: 16px;
}
#not-avl .choosing .submit-in{
    box-shadow: none;
    font-size: 15px !important;
    width: 130px !important;
    border-radius: 25px !important;
    height: 37px !important;
    line-height: 36px !important;
    background-color: #ff5e00;
    margin: 0 2px;
}
#not-avl .choosing .submit-in:hover , #not-avl .choosing .submit-in:focus{
    opacity: .8;
}




/****************************************************************************************************************************************************** DISTRIBUTERS.HTML *****************************************************************************************************************/


/****************************************************************************** STEP 4 ***************************************************************************************/
.delt-all{
    margin: 0 auto 15px auto;
    text-align: center;
    display: table;
    background-color: #ff5e00;
    border-radius: 25px;
    width: 100px;
    height: 35px;
    line-height: 35px;
}
.delt-all:hover , .delt-all:focus{
    opacity: .7;
}
.trn{
    display: block;
    color: #ff5e00;
    text-decoration: underline;
    font-weight: bold;
}
.trn:hover , .trn:focus{
    color: #212121;
}
.the-distrb{
    text-align: center;
}
.the-distrb b{
    font-size: 20px;
}
.the-distrb b h4{
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    font-weight: bold;
}
.tfasel{
    margin: 11px auto;
    width: 80%;
}
.tools{
    background-image: url('../img/tools.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px 15px 0 0;
    height: 150px;
    overflow: hidden;
}
/******************* Table **************/
.tfasel table.dataTable.no-footer {
    width: 100% !important;
    border: 1px solid #9e9e9e;
}
.tfasel  table.dataTable thead>tr>th.sorting_asc, .tfasel  table.dataTable thead>tr>th.sorting_desc, .tfasel  table.dataTable thead>tr>th.sorting, .tfasel  table.dataTable thead>tr>td.sorting_asc, .tfasel  table.dataTable thead>tr>td.sorting_desc, .tfasel  table.dataTable thead>tr>td.sorting {
    text-align: center;
    background-color: #ff5e00;
    color: #fff;
}
.tfasel table.dataTable thead .sorting:before, .tfasel table.dataTable thead .sorting_asc:before, .tfasel table.dataTable thead .sorting_desc:before, .tfasel table.dataTable thead .sorting_asc_disabled:before, .tfasel table.dataTable thead .sorting_desc_disabled:before ,
.tfasel table.dataTable thead .sorting:after, .tfasel table.dataTable thead .sorting_asc:after, .tfasel table.dataTable thead .sorting_desc:after, .tfasel table.dataTable thead .sorting_asc_disabled:after, .tfasel table.dataTable thead .sorting_desc_disabled:after{
    display: none !important
}

.tfasel table img {
    width: 50px;
    max-height: 50px;
    object-fit: contain;
}

.tfasel table .close{
    float: none;
    color: #fff;
    text-shadow: none;
    opacity: 1;
    background-color: #ff5e00;
    width: 25px;
    height: 25px;
    line-height: 26px;
    border-radius: 50%;
    text-align: center;
    font-size: 16px;
}
.tfasel table .close:hover , .tfasel table .close:focus{
    background-color: #ddd;
}
.tfasel .dataTables_wrapper .dataTables_paginate .paginate_button.current, .tfasel .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #fff !important;
    border: 0;
    background-color: #ff5e00 !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #dcdcdc));
    background: -webkit-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -moz-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -ms-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -o-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: none;
    border-radius: 50%;
}
.tfasel div.dataTables_wrapper div.dataTables_filter span.input {
    margin-left: 0;
}
.tfasel div.dataTables_wrapper div.dataTables_filter input {
    border: 1px solid #333;
    border-radius: 6px;
    margin: 0 8px 0 0;
}
.tfasel div.dataTables_wrapper div.dataTables_length select {
    width: 75px;
    display: inline-block;
    text-align: center;
    border: 1px solid #333;
    border-radius: 6px;
    padding: 0;
    min-height: auto;
}
.tfasel div.dataTables_wrapper {
    position: relative;
    margin: 15px auto;
}
.tfasel div.dataTables_wrapper div.dataTables_filter {
    margin: 0 0 15px 0;
}

/*********************************************** SHA7N **************************************************************/
.deliver .dist-list .rad {
    padding: 0 23px 0 0;
}
.deliver .dist-list .checking{
    font-weight: bold;
    border: 0;
    border-radius: 0;
    padding: 0;
    width: auto;
    max-width: unset;
}
.deliver .dist-list .check-img {
    width: 25px;
    height: 25px;
    border-radius: 0;
    box-shadow: none;
    margin: 0 5px;
    border: 0;
}
.deliver .dist-list .rad .checkmark {
    top: 7px;
}
.deliver .trn {
    margin: 0 10px 0 0;
    display: inline-block;
}
.map1 {
    margin: 40px auto 0 auto;
}
#map , #temp{
    width: 100%;
    height: 400px;
    margin: 0 auto 20px auto;
}
/*****************/
#div1 , #div2{
    margin: 30px auto 0 auto
}
div#temp {
    width: 100%;
    height: 400px;
}
#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-size: 13px;
    font-weight: 300;
}

 #pac-input ,  #temp-input {
background-color: #eee;
    font-size: 15px;
    font-weight: 300;
    margin: 0 auto !important;
    padding: 0 11px 0 13px !important;
    text-overflow: ellipsis;
    width: 400px !important;
    position: relative !important;
    right: 0;
    top: 20px !important;
}

 #pac-input ,  #temp-input:focus {
     border-color: #ff5e00;
    left: 0 !important;
    right: 0px !important;
    top: 10px !important;
    margin: 0px auto !important;
    width: 400px !important;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}

#target {
    width: 345px;
}
/*******************/
#div2{
    display: none;
}

.deliver .delt-all{
    width: 130px;
    height: 45px;
    line-height: 44px;
    font-size: 18px;
}
/* Payment Table */
.p-tble,
.p-tble td{
    border: 1px solid #9e9e9e;
}
.p-tble th {
    text-align: center;
}
.p-tble {
    border-collapse: collapse;
    width: 100%;
    margin: 20px auto 0 auto;
}
.p-tble th,
.p-tble td {
    height: 40px;
}
.p-tble th{
    background-color: #ff5e00;
    color: #fff;
}
.p-tble td{
   font-weight: bold;
}
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
    background-color: #ff5e00 !important;
}
/****************** Payment Radio Buttons ************************/
.carry .form-group {
    width: 400px;
    margin: 0 auto 25px auto;
}
.carry .form-control{
    padding: 9px 37px 9px 9px!important;
}
.form-img {
    position: absolute;
    right: 10px;
    top: calc(50% - 12.5px);
    width: 25px !important;
    height: 25px !important;
    z-index: 9;
}
.carry2 img {
    background-color: #fff;
    height: 100px;
    margin: 0 0 5px 0;
}
.carry2 .rad1 p {
    display: block;
    font-weight: bold;
    padding: 0;
    text-align: center;
}
.bold-in{
    display: inline-block;
    font-weight: bold;
    font-size: 19px;
    margin: 0 0 20px 12px;
}
.carry2 .photo{
    margin: 0;
}
.carry2 .profile-pic .images-upload-block {
    top: 18px;
}
.carry2 .profile-pic {
    margin: 20px auto 0 auto;
}



/******************************************************************************************************************************************************* Done .HTML ********************************************************************************************************************/
.done{
    text-align: center;
}
.done span{
    color: #ff5e00;
    font-size: 60px;
    opacity: .8;
}
.done p{
    font-size: 20px;
    margin: 8px auto 0 auto;
}




/********************************************************************************************************************************************************************** Media **************************************************************************************************************/
@media (max-width: 1200px) {
    .piece1 {
        height: 200px;
    }
}
@media (max-width: 991px) {
    .tfasel {
        width: 100%;
    }
    #details .all-dtls {
        height: calc(100vh - 350px);
    }
    .dist-list .rad {
        padding: 0 19px 0 0;
    }
    .dist-list .check-img {
        width: 40px;
        height: 40px;
        margin: 0 3px 0 0;
    }
    .dist-list .rad b {
        font-size: 12px !important;
        margin: 0 15px 0 0;
    }
    .distributers b span {
        margin: 0 2px 0 0;
    }
    #pac-input, #temp-input {
        top: 60px !important;
    }
}
@media (max-width: 767px) {
    .wizard > .content > .body {
        padding: 0 20px;
    }
    
  .wizard > .steps > ul {
    margin-bottom: 20px;
  }

  .wizard > .steps > ul > li > a {
    margin-bottom: 0;
  }
  .wizard > .steps > ul > li:first-child:before,
  .wizard > .steps > ul > li:last-child:after {
    content: '';
  }
  .wizard > .steps > ul > li:last-child:after {
    background-color: #ffdb18;
  }
    .dist-list .rad b {
    display: block;
    margin: 6px 0 10px 0;
}
    .inDetails {
    width: 100% !important;
    }
    .all-dtls , #details .all-dtls{
        height: auto !important;
        overflow-y: unset;
    }
    #details .all-dtls > li {
    padding: 0 28px 0 0;
    }

    .fxd-btn {
    position: static !important;
    }
    a.piece1 {
    margin: 0 auto 20px auto;
        height: 200px;
}
    #details .inDetails {
    display: block;
    }
    #details span.code-p {
    display: inline-block;
    text-align: center;
    word-break: break-all;
    font-size: 10px !important;
    max-width: 50px;
            vertical-align: middle;
}
        .name-p {
    font-size: 12px !important;
}
    .all-dtls > li:before {
    width: 24px;
    height: 24px;
    line-height: 24px;
            top: 4px;
    }
    #details .inDetails li {
    margin: 0 0 10px 13px;
        vertical-align: middle;
}
    #details .inDetails li:nth-child(4){
        margin: 0 0 10px 0;
    }
    .new-p {
    width: 23px;
    height: 23px;
    line-height: 23px;
    }

    .name-p {
    font-size: 12px !important;
    max-width: 98px  !important;
    word-break: break-word;
    overflow: hidden;
    display: block;
}
    .new-p input ~ .checkmark:after {
    font-size: 13px;
    }
    .new-p .checkmark {
    top: 0;
    }
    .piece-sm {
    width: 43px;
    max-height: 43px;
}
    div#DataTables_Table_0_paginate , div#DataTables_Table_0_info{
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }
    div#DataTables_Table_0_length{
        display: none;
    }
    div.dataTables_wrapper div.dataTables_filter label , .tfasel div.dataTables_wrapper div.dataTables_filter{
    float: none !important;
    margin-bottom: 0;
    text-align: center !important;
    margin: 0 auto;
        width: 100% !important;
}
    .carry .form-group {
        width: 100%;
    }
    table.dataTable tbody th, table.dataTable tbody td {
        vertical-align: top;
    }
    
    .count {
        width: 100px;
            height: 36px;
    line-height: 36px;
    }
    .quant .value-button {
        width: 17px;
        font-size: 14px;
    }
    .quant input#number {
        width: calc(100% - 34px);
    }
    
    /******* name Piece **********/
    #name-piece .all-dtls li {
        padding: 0;
        display: inline-block;
    width: 100%;
    }
    #name-piece .all-dtls li.addme {
            padding: 0;
    display: inline-block;
    position: absolute;
    margin: 0 !important;
        width: auto !important;
    }
        #name-piece .name-p {
font-size: 12px !important;
    max-width: calc(100% - 100px) !important;
    display: inline-block !important;
    overflow: visible !important;
    word-break: unset !important;
}
    #name-piece .new-p {
    padding: 0 30px 0 0;
}

}
@media (max-width: 500px) {
    
}



@media (max-width: 480px) {
    .company-radio .rad1:first-child {
        margin: 0;
    }
    .wizard > .actions > ul {
        display: flex;
    }
    .photo{
        margin: 0;
    }
    .profile-pic .images-upload-block{
        display: block;
    }
    .model1 {
        display: block;
        margin: 0 0px 5px 10px;
        width: max-content;
    }
    .model1:last-child {
        margin: 0;
    }
    .btn-piece {
        display: block;
        margin: 0 auto 5px auto;
    }
    .btn-piece:last-child{
        margin: 0 auto;
    }
    .prod1 {
        width: 48%;
        margin: 0 2px 25px 2px;
            padding: 10px 5px;
        height: 114px;
    }
    .prod1 h4 {
        font-size: 14px !important;
    }
    .prod1 .qnt {
    width: 40px;
    height: 30px;
    line-height: 29px;
}
    .filtrtion {
        justify-content: center;
    }
    .filtrtion .item1 {
        width: 45%;
    margin: 0 4px 20px 4px;
}
    .filtrtion .item1 h4 {
    width: 95%;
    font-size: 14px !important;
    }
    
        #details span.code-p {
    font-size: 10px !important;
}
    .name-p {
font-size: 12px !important;
}
        #details .new-p {
    position: absolute;
    left: 0;
    top: 0;
}
    li.addme {
        position: static;
        display: block;
        margin: 0 auto !important;
        width: 100% !important;
    }
    .quant {
        margin: 0 auto;
        text-align: center;
    }
    .dist-list .rad {
        border-bottom: 1px solid #cbcbcb;
    }
    .dist-list .checking {
        padding: 2px 3px;
        width: unset;
        max-width: 180px;
        word-break: break-word;
    }
    .dist-list .rad b {
        font-size: 12px !important;
    }
    
     #pac-input ,  #temp-input:focus {
         width: 90% !important;
    }
    .deliver .dist-list .checking {
        font-size: 13px;
        padding: 4px 0;
    }
    
}